body {
	background-color: #FCFCFE;
	font-family: Georgia, Arial, sans-serif;
	font-size: 28px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
			flex-direction: column;
	-webkit-justify-content: center;
			justify-content: center;
}

header {
	background: url('../images/restaurant.jpg') no-repeat center center;
	background-size: cover;
	width:100%;
	min-height: 100vh;
	display: inline-flex;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-direction: column;
			flex-direction: column;
	-webkit-justify-content: center;
			justify-content:center;
	-webkit-align-items: center;
			align-items:center;
}

.row {
	margin-right: 0px;
}

.menuicon {
	position: absolute;
	top: 0px;
	left: 10px;
	color: black;
	cursor: pointer;
	font-size: 52px;
	z-index: 2;
}

.newmenu {
	height: 100vh;
	width: 50vw;
	border-right: 0.28em solid darkgreen;
	background: rgba(255,255,255,0.72);
	position: absolute;
	top: 0px;
	z-index: 1;
	left: -50vw;
	-moz-transition: all 0.8s ease-in-out;
         transition: all 0.8s ease-in-out;
    display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-direction: column;
			flex-direction: column;
	-webkit-justify-content: center;
			justify-content:center;
	-webkit-align-items: flex-end;
			align-items: flex-end;
}

#menucheckbox {
	display: none;
}

#menucheckbox:checked ~ .newmenu {
	left: 0vw;
}

.newmenu {
	list-style-type: none;
}

.newmenu li {
	font-size: 40px;
	padding-right: 6%;
}

.newmenu li a:link {
	color: black;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}

.nav-buttons{
	font-size: 24px;
}

.nav-buttons a {
	color: black;
}

nav ul li{
	display: inline-block;
	margin-left: 30px;
	padding: 0px;
}

.logo-title {
	color: black;
	padding-left: 4%;
	padding-top: 4%;
	font-family: "Allura", cursive;
	font-size: 100px;
	-webkit-flex-grow: 1;
			flex-grow: 1;
}

.plate-title {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url("../images/plate.svg");
	height: 252px;
	width: 262px;
	background-size: contain;
}

.plate-title-text {
	font-family: "Allura", cursive;
	font-size: 38px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}

.img-circle {
	height: 300px;
	width: 300px;
	margin: 80px 0px 80px 0px;
}

p {
	text-align: left;
	color: black;
	line-height: 250%;
}

.speisekarte-row ul {
	margin: 0px 0px;
	padding: 100px 0px;
	list-style: none;
	border: 0.28em solid darkgreen;
}

.speisekarte-row ul li {
	margin-top: 70px;
}

.speisekarte-row ul .li-title {
	margin-top: 10px;
	letter-spacing: 0.2em;
	text-decoration: underline;
}

.price-li {
	font-style: italic;
	margin-top: 5px;
}

.kontakt-row {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.opening-hours-image{
	width: 260px;
}

.opening-hours-text, .address-text {
	display: inline-block;
	text-align: left;
	width: 260px;
}

.clock {
	margin-bottom: 40px;
	width: 260px;
	height: 250px;
}

.mapcontainer {
	width: 226px;
	overflow: hidden;
	height: 226px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
}

footer img{
	margin: 40px 0px;
	width: 40px;
}

@media (max-width: 992px){

	body {
		font-size: 22px;
	}

	header {
		background: url('../images/restaurant_transparent.jpg') no-repeat center center;
	}

    .logo-title {
        text-align: center;
        -webkit-transition-delay: 0.4s; 
                transition-delay: 0.4s;
    }

    .newmenu {
    	border-right: none;
    	left: -100vw;
		width: 98vw;
		-webkit-align-items: center;
				align-items: center;
	}

	#menucheckbox:checked ~  header .row .logo-title {
		visibility: hidden;
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
	}

}