body {
	background-color: #FCFCFE;
	font-family: Georgia, Arial, sans-serif;
	font-size: 28px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}

header {
	background: url('images/restaurant1cnew.jpg') no-repeat center center;
	background-size: cover;
	width:100%;
	min-height: 100vh;
	display: inline-flex;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content:center;
	-webkit-align-items: center;
	align-items:center;
}

.row {
	margin-right: 0px;
}

.menuicon {
	position: absolute;
	top: 0px;
	left: 10px;
	color: black;
	cursor: pointer;
	font-size: 52px;
	z-index: 2;
}

.newmenu {
	height: 100vh;
	width: 50vw;
	border-right: 0.28em solid darkgreen;
	background: rgba(255,255,255,0.72);
	position: absolute;
	top: 0px;
	z-index: 1;
	left: -50vw;
	-moz-transition: all 0.8s ease-in-out;
         transition: all 0.8s ease-in-out;
    display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content:center;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

#menucheckbox {
	display: none;
}

#menucheckbox:checked ~ .newmenu {
	left: 0vw;
}

.newmenu {
	list-style-type: none;
}

.newmenu li {
	font-size: 40px;
	padding-right: 6%;
}

.newmenu li a:link {
	color: black;
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}

.nav-buttons{
	font-size: 24px;
}

.nav-buttons a {
	color: black;
}

nav ul li{
	display: inline-block;
	margin-left: 30px;
	padding: 0px;
}

.logo-title {
	color: black;
	padding-left: 4%;
	padding-top: 4%;
	font-family: "Allura", cursive;
	font-size: 100px;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.plate-title {
	font-family: "Allura", cursive;
	font-size: 38px;
	text-align: center;
	border-radius: 100px;
	border: 25px lightgray solid;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px; 
	background-color: #FCFCFE;
	height: 200px;
	width: 200px;
}

.img-circle {
	height: 300px;
	width: 300px;
	margin: 80px 0px 80px 0px;
}

p {
	text-align: left;
	color: black;
	line-height: 250%;
}

.speisekarte-row ul {
	margin: 70px 0px;
	padding: 100px 0px;
	list-style: none;
	background-image: url("images/wood.jpg");
}

.li-title {
	letter-spacing: 0.2em;
}

.speisekarte-row ul li {
	color: #FCFCFE;
	margin-top: 70px;
}

.price-li {
	font-style: italic;
	color: #FCFCFE;
	margin-top: 5px;
}

#kontakt {
	margin-bottom: 140px;
}

.kontakt-row {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.clock {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 350px;
	height: 350px;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:350px;
   top:350px;
   margin-top:-350px;
}

.mapcontainer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 350px;
	overflow: hidden;
	height: 350px;
	border-radius: 50%;
	-moz-border-radius:  50%;
	-webkit-border-radius:  50%;
	border: 50px solid lightgrey;	
}

@media (max-width: 992px){

	header {
		background: url('images/restaurant1d.jpg') no-repeat center center;
	}

    .logo-title {
        text-align: center;
        -webkit-transition-delay: 0.4s; 
                transition-delay: 0.4s;
    }

    .newmenu {
    	border-right: none;
    	left: -100vw;
		width: 98vw;
		-webkit-align-items: center;
		align-items: center;
	}

	#menucheckbox:checked ~  header .row .logo-title {
		visibility: hidden;
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
	}
}