body {
	background-color: #FCFCFE;
	font-family: Georgia, Arial, sans-serif;
	font-size: 28px;
	/*min-height: 100vh;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header {
	background: url('images/restaurant1c.jpg') no-repeat center center;
	background-size: cover;
	width:100%;
	min-height: 100vh;
	display: inline-flex;

	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

	flex-direction: column;
	justify-content:center;
	align-items:center;
	/*justify-content: space-between*/;
}


.container-fluid {
	padding: 0px;
}

.nav-buttons{
	font-size: 24px;
}

.nav-buttons a {
	color: black;
}

nav ul li{
	display: inline-block;
	margin-left: 30px;
	padding: 0px;
}

.logo-title {
	color: black;
	font-family: "Allura", cursive;
	font-size: 100px;
	flex-grow: 1;
}

.plate-title {
	font-family: "Allura", cursive;
	font-size: 38px;
	text-align: center;
	border-radius: 100px;
	border: 25px lightgray solid;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px; 
	background-color: #FCFCFE;
	height: 200px;
	width: 200px;
}

.img-circle {
	height: 300px;
	width: 300px;
	margin: 80px 0px 80px 0px;
}

p {
	text-align: left;
	color: black;
	line-height: 250%;
}

.speisekarte-row ul {
	margin: 70px 0px;
	padding: 100px 0px;
	list-style: none;
	background-image: url("images/wood.jpg");
}


.li-title {
	letter-spacing: 0.2em;
}

.speisekarte-row ul li {
	color: #FCFCFE;
	margin-top: 70px;
}

.price-li {
	font-style: italic;
	color: #FCFCFE;
	margin-top: 5px;
}

#kontakt {
	margin-bottom: 140px;
}

.kontakt-row {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}

.clock {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 350px;
	height: 350px;
}

.clock::after {
	content: "Öffnungszeiten";

}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:350px;
   top:350px;
   margin-top:-350px;
}

.mapcontainer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 350px;
	overflow: hidden;
	height: 350px;
	border-radius: 50%;
}

@media (max-width: 992px){

	header {
		background: url('images/restaurant1d.jpg') no-repeat center center;
	}

    .logo-title {
        text-align: center;
    }
}